template#template
    style
        include style.css

    .todoapp
        span.todo-count
            strong(
                es-bindable
            ) ${remainingCount} item left

        ul.filters
            li
                a(

                    href='#'
                    es-item
                    es-class="{'selected': selectedState === 'ALL'} "
                    es-click="show('ALL')"
                ) All

            li
                a(
                    href='#'
                    es-item
                    es-click="show('ACTIVE')"
                    es-class="{'selected': selectedState === 'ACTIVE'} "
                ) Active

            li
                a(
                    href='#'
                    es-item
                    es-click="show('COMPLETED')"
                    es-class="{'selected': selectedState === 'COMPLETED'}"
                ) Completed

        button.clear-completed(
            es-item
            es-click='clearCompleted()',
            es-show='remainingCount'
        ) Clear completed


script
    include script.js
